<mat-toolbar color="primary">
  <mat-icon>forest</mat-icon>
  <span>Bonsai Store</span>
</mat-toolbar>

<div class="content-wrapper">

  <button (click)="newProduct()" mat-button>
    <mat-icon>add</mat-icon>Add Product
  </button>

  <div class="container-wrapper">
    <div class="container">
      <h2>Product List</h2>
      <mat-card
        cdkDropList
        id="products"
        #productsList="cdkDropList"
        [cdkDropListData]="products | async"
        [cdkDropListConnectedTo]="[wishListContainer, shoppingCartList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(products | async)?.length === 0">Empty List</p>
        <app-product 
          (edit)="editProduct('products', $event)" 
          *ngFor="let product of products | async" 
          cdkDrag 
          [product]="product"></app-product>
      </mat-card>
    </div>
    <div class="container">
      <h2>Wish List</h2>
      <mat-card
        cdkDropList
        id="wishList"
        #wishListContainer="cdkDropList"
        [cdkDropListData]="wishList | async"
        [cdkDropListConnectedTo]="[productsList, shoppingCartList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(wishList|async)?.length===0">Empty List</p>
        <app-product 
          (edit)="editProduct('wishList', $event)" 
          *ngFor="let product of wishList|async" 
          cdkDrag 
          [product]="product"></app-product>
      </mat-card>
    </div>
    <div class="container">
      <h2>Shopping Cart</h2>
      <mat-card
        cdkDropList
        id="shoppingCart"
        #shoppingCartList="cdkDropList"
        [cdkDropListData]="shoppingCart|async"
        [cdkDropListConnectedTo]="[productsList, wishListContainer]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(shoppingCart|async)?.length===0">Empty List</p>
        <app-product (edit)="editProduct('shoppingCart', $event)" *ngFor="let product of shoppingCart|async" cdkDrag [product]="product"></app-product>
      </mat-card>
    </div>
  </div>
</div>